<section class="section404" style="height: 90vh;margin-top: 9vh">
    <h1 style="margin-bottom: 20vh">404! Page not found :c</h1>
    <div style="margin-left: 3em;height: 20%">
        <h2>Some useful links:</h2>
        <ul class="l404" style="">
            <li><a href="{{ page.liquid }}">About Us</a></li>
            <li><a href="page.contact.liquid">Contact Us</a></li>
        </ul>
    </div>
    <div style="width: 100%;display: flex; align-items: center;"><a href="/collections" class="see_2">Continue Shopping</a></div>
</section>
<style>
    .l404{
        list-style: none;
        height: 15vh;padding-top: 1em;padding-bottom: 1em;
    }
    .l404 li{
        height: 25%;

    }
    .l404 li a{
        text-decoration: none;color: black;font-family: Montserrat,sans-serif;font-weight: lighter;
        transition: 0.3s ease-out;

    }
    .l404 li a:hover{
        color: #5f04d9;

        font-size: 1.1em;
    }
    .section404{
        font-family: Montserrat,sans-serif;
    }
    .section404 h1{
        width: 100%;
        text-align: center;
    }
    .see_2{
        text-decoration: none;
        color: white;
        font-family:Univers-ultra, sans-serif;
        font-weight: 50;
        background-color: black;
        border: 1px solid white;
        padding: 1em 1em 1em 1em;
        border-radius: 3px;
        box-shadow: inset 0 0 0 0 white;
        transition: ease-out 0.3s;
        margin-top: 7%;
        display: flex;
        width: 30%;
        align-items: center;
        justify-content: center;
    }
    .see_2:hover{
        border: 1px solid black;
        box-shadow: inset 580px 0 0 0 white;
        color: black;

    }

</style>